:root {
    --neon-green: #D2FBA4;
    --rose-quartz: #F1C0B9;
    --lime-green: #88CA5E;
    --green: #1D741B;
    --whitish: #f0f0f0;
}

body {
    text-align: center;
    font-family: system-ui;
    background-color: var(--green);
    margin: 0;
    font-size: 18px;
}

h1 {
    text-shadow: 1px 1px 2px var(--green);
    font-weight: 500;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    color: var(--green);
}

/* input */
input:not(.btn) {
    font-size: 16px;
    margin-bottom: 1.7em;
    padding: 0.75em 0.5em;
    background-color: white;
    width: 100%;
    max-width: 250px;
    border: none;
    border-left: 7px solid var(--neutral-4);
}

input:not(.btn):focus {
    outline: none;
    border-left: 7px solid var(--accent-1);
}

::placeholder {
    color: var(--green);
    opacity: 75%;
}


label {
    display: block;
    margin-bottom: .25em;
    font-weight: 500;
}

p {
    margin-top: 0;
    font-weight: 300;
}

.btn {
    background-color: var(--green);
    color: var(--neon-green);
    border-radius: 3px;
    cursor: pointer;
    font-weight: 600;
    margin: 10px 10px;
    padding: 10px 20px;
    text-decoration: none;
    max-width: 120px;
    display: inline-block;
    transition: background-color 220ms, transform 220ms;
    border: 1px solid var(--lime-green);
}

.btn:active {
    transform: translate(0.8px, 0.8px);
}

.btn:disabled {
    cursor: initial;
    opacity: 0.5;
}

.todos-list {
    width: 50%;
    margin: auto;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.todo {
    list-style-type: "\25A1";
}

.todo .content {
    display: block;
    margin-left: 5px;
    padding: 0px 5px;
    border-radius: 3px;
    font-size: 18px;
    outline: 1px solid black;
    background-color: var(--rose-quartz);
    box-shadow: 3px 3px 30px 1px rgba(256, 256, 256, 20%);
}

.todo:hover {
    list-style-type: "\25C7";
}

.todo.complete {
    list-style-type: "\25A3";
}

.todo.complete .content {
    text-decoration: line-through;
    background-color: var(--neon-green);
}

.todo.complete:hover {
    list-style-type: "\25C8";
}

.banner {
    font-size: 20px;
    background-color: var(--whitish);
    margin: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.07),
        0px -3px 7px 1px rgba(0, 0, 0, 0.07);
}

.box {
    background-color: var(--whitish);
    padding: 10px;
    border: 1px solid black;
    width: 60%;
    margin: 10px auto;
    border-radius: 3px;
}